@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --page-padding-x: 16px;
    --page-padding-x-lg: 20px;
    --header-height: 96px;
    --page-padding-bottom: 32px;

    --content-max-width: 1000px; /* for page content */
    --outer-content-max-width: 1200px; /* for footer and header */

    --background-primary: 0 0% 98%;
    --background-secondary: 0 0% 95%;

    --popover: 0 0% 95%;
    --popover-secondary: 210 21% 89%;

    --text-primary: 0 0% 9%;
    --text-secondary: 0 0% 40%;

    --accent: 0 100% 65%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background-primary: 280 4% 15%;
    --background-secondary: 280 4% 17%;

    --popover: 280 3% 19%;
    --popover-secondary: 280 3% 23%;

    --text-primary: 0 0% 98%;
    --text-secondary: 255 2% 64%;

    --accent: 0 100% 65%;

    --border: 280 3% 23%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }

  *:not(pre *),
  html {
    /* Making sure text size is only controlled by font-size */
    -webkit-text-size-adjust: none;
    /* Improve text rendering */
    -webkit-font-smoothing: antialiased;
    /* https://marco.org/2012/11/15/text-rendering-optimize-legibility */
    text-rendering: optimizeSpeed;
    font-family: var(--font-halyard-display);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html {
    @apply scroll-smooth;
  }
}

@layer components {
  .card {
    @apply border block border-background-card shadow-sm rounded-xl bg-background-secondary backdrop-blur-xl;
  }

  .page {
    @apply pt-10 flex flex-col items-start justify-start gap-8 relative w-full max-w-outer-max-width page-padding-x  min-h-[calc(100dvh-var(--header-height)-var(--page-padding-bottom))];
  }

  .page-padding-x {
    @apply px-page-padding-x lg:px-page-padding-x-lg;
  }
}

:root.dark .shiki,
:root.dark .shiki span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
  /* Optional, if you also want font styles */
  font-style: var(--shiki-dark-font-style) !important;
  font-weight: var(--shiki-dark-font-weight) !important;
  text-decoration: var(--shiki-dark-text-decoration) !important;
}
